[data-aos] {
    pointer-events: none;
}
.aos-animate {
    pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.modalButton{
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.modalButton #confirmLogout, #cancelLogout {
    text-align: center;
    cursor: pointer;
    background-color: rgb(39, 76, 139);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.modalButton #cancelLogout {
    background-color: red;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}